doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= projectName + " | " + version
        link(rel='stylesheet' href=stylesheet)
        link(rel='stylesheet' href=flatStylesheet)
        link(rel='stylesheet' href=iconStylesheet)
        link(rel='stylesheet' href=codeStylesheet)
        link(rel='stylesheet' href=customStylesheet)
    body
        header.navbar
            h1
                i.fa.fa-star 
                =projectName
        section
            section.row#top
                section.col-md-3.col-md-offset-2#logo
                    img(src=logoUrl)
                section.col-md-6#introduction
                    h2=introHeading
                    p=introDetails
                    div.btn-toolbar(role='toolbar')
                        div.btn-group
                            each package in [tarball, zipfile]
                                if package['url']
                                    a.btn.btn-inverse(class=package['icon'] href=package['url'])
                        div.btn-group
                            each site in [projectSite, githubRepo]
                                if site['url']
                                    a.btn.btn-inverse(class=site['icon'] href=site['url'])
                        div.btn-group
                            each site in [twitter, facebook, googlePlus]
                                if site['url']
                                    a.btn.btn-inverse(class=site['icon'] href=site['url'])
            section.col-md-8.col-md-offset-2
                section.col-md-3.hidden-sm.hidden-xs.hidden-md#navigation(role='navigation')
                    ul
                        li: a(href='#installation'). Installation
                        li: a(href='#usage'). Usage
                        li: a(href='#contribution'). Contribution
                        li: a(href='#issues'). Issues
                        li: a(href='#license'). License
                section.col-md-12.col-lg-9#content(data-spy='scroll' data-target='#navigation')
                    section#installation
                        h1. Installation
                        include ../includes/installation.html
                    section#usage
                        h1. Usage
                        include ../includes/usage.html
                    section#contribution
                        h1. Contribution
                        include ../includes/contribution.html
                    section#issues
                        h1. Issues
                        include ../includes/issues.html
                    section#license
                        h1. License
                        include ../includes/license.html
        footer
            p
                | Copyright 2014 
                a(href=author['url'])=author['name']
            p
                | Project maintained by 
                a(href=maintainer['url'])=maintainer['name']
            //p.credit
            //    | Generated using 
             //   a(href='github.com/GochoMugo/swiftjade'). swiftjade
        script(type='text/javascript' src=jquery)
        script(type='text/javascript' src=script)
        script(type='text/javascript' src=codeScript)
        script(type='text/javascript' src=customScript)
